<br>
<hr>
<span class="entry-tags">{% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="tag"><span class="term">{{ tag }}</span></a>{% unless forloop.last %}{% endunless %}{% endfor %}</span>
<span class="social-share">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ page.url }}" title="Share on Facebook" class="tag">
        <span class="term"><i class="fab fa-fw fa-facebook-square"></i> Share</span>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ site.baseurl }}{{ page.url }}" title="Share on Twitter" class="tag">
        <span class="term"><i class="fab fa-fw fa-twitter-square"></i> Tweet</span>
    </a>
</span>
<div style="clear:both"></div>
