    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.min.js" async></script>
    <script src="/assets/js/jquery.dlmenu.min.js" async></script>
    <script src="/assets/js/jquery.goup.min.js" async></script>
    <script src="/assets/js/jquery.magnific-popup.min.js" async></script>
    <script src="/assets/js/jquery.fitvid.min.js" async></script>
    <script src="/assets/js/scripts.js" async></script>
    <script src="/assets/js/table.js" async></script>
    {% if page.comments != false %}
        {% include disqus_comments.html %}
    {% endif %}
