---
---
h4 { text-align: right; }
.container { border-radius: 20px; }
#footer { text-align: center; color: white; position: fixed; bottom: 10px; width: 100%; }
table.covid-table td, table.covid-table-nojs td { text-align: center; }
table.covid-table th, table.covid-table-nojs th { text-align: center; color: white; text-decoration: none; }
table.covid-table a:hover, table.covid-table a { text-decoration: none; color: white; }
table.covid-table-nojs tfoot td { text-align: right; }
.talkdate { text-align: right; font-style: italic; }

// Covid Note Table
table#covid-note td { border-bottom: 1px solid #CCCCCC; }
table#covid-note td:first-child { min-width: 100px; vertical-align: top; }
table#covid-note td:last-child { text-align: justify !important; }

// Footer
div#footer img { display: inline; }
div#footer a, div#footer a:visited, div#footer a:hover { text-decoration: none; color: white; }
div#footer p, div#footer a { -webkit-text-stroke-color: black; -webkit-text-stroke-width: thin; }
