---
layout: compress
categoria: talks
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.baseurl}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    {% for talk in site.talks reversed %} 
                        {% if talk.talks == null %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
			    <p class="talkdate">{{ talk.date | date_to_string }}</p>
                            <a class="zoombtn" href="{{ site.baseurl }}{{ talk.url }}">{{ talk.title }}</a>
                            <p>{{ talk.content }}</p>
                            <!--<a href="{{ site.baseurl }}{{ talk.url }}" class="btn zoombtn">Continua a leggere</a>-->
                        </li>
                    </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.baseurl }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
    {% include copy.html %}
    {% include cookie-consent.html %}
</body>
</html>
